*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}

/** box 1 **/

.nav-logo{
    height: 60px;
    width: 100px;
}

.logo{
    background-image: url(amazon-logo.png);
    background-size: cover;
    height: 58px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/** box 2 **/

 .add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px ;
 }

 .add-second{
    font-size: 1rem;
 }

 .add-icon{
    display: flex;
    align-items: center;
 }

 /** box 3 **/

 .nav-search{
    display: flex;
    align-items: center;
    background-color: #febd69;
    width: 620px;
    height: 40px;
    border-radius: 4px;
 }

 .search-select{
    background-color: #f3f3f3;
    width: 50px;
    height: 40px;
 }

 .search-inp{
    width: 560px;
 }